body {
    background-image: linear-gradient(to right bottom, rgba(83, 6, 83, 0.4), rgba(144, 1, 187, 0.4)), url(../../media/astronaut.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.flexy {
    min-width: 90vw;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    padding-left: 3%;
}

.logo {
    padding-top: 8%;
}

